<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="gov.usgs.cida.gcmrcservices.mb.mappers.BedSedimentDownloadMapper">
	
	<resultMap id="bedSedimentDownloadResult" type="BedSedimentDownload">
		<result property="station_name" column="station_name"/>
		<result property="station_num" column="station_num"/>
		<result property="bed_dt" column="bed_dt"/>
		<result property="bed_tm" column="bed_tm"/>
		<result property="sample_set" column="sample_set"/>
		<result property="notes" column="notes"/>
		<result property="station_location" column="station_location"/>
		<result property="sample_weight" column="sample_weight"/>
		<result property="sand_d50" column="sand_d50"/>
		<result property="fines_d50" column="fines_d50"/>
		<result property="total_d50" column="total_d50"/>
		<result property="pct_btwn_063_125" column="pct_btwn_063_125"/>
		<result property="size_dist_lt_037" column="size_dist_lt_037"/>
		<result property="size_dist_lt_044" column="size_dist_lt_044"/>
		<result property="size_dist_lt_053" column="size_dist_lt_053"/>
		<result property="size_dist_lt_063" column="size_dist_lt_063"/>
		<result property="size_dist_lt_074" column="size_dist_lt_074"/>
		<result property="size_dist_lt_088" column="size_dist_lt_088"/>
		<result property="size_dist_lt_105" column="size_dist_lt_105"/>
		<result property="size_dist_lt_125" column="size_dist_lt_125"/>
		<result property="size_dist_lt_149" column="size_dist_lt_149"/>
		<result property="size_dist_lt_177" column="size_dist_lt_177"/>
		<result property="size_dist_lt_210" column="size_dist_lt_210"/>
		<result property="size_dist_lt_250" column="size_dist_lt_250"/>
		<result property="size_dist_lt_297" column="size_dist_lt_297"/>
		<result property="size_dist_lt_354" column="size_dist_lt_354"/>
		<result property="size_dist_lt_420" column="size_dist_lt_420"/>
		<result property="size_dist_lt_500" column="size_dist_lt_500"/>
		<result property="size_dist_lt_595" column="size_dist_lt_595"/>
		<result property="size_dist_lt_707" column="size_dist_lt_707"/>
		<result property="size_dist_lt_841" column="size_dist_lt_841"/>
		<result property="size_dist_lt_1_00" column="size_dist_lt_1_00"/>
		<result property="size_dist_lt_1_41" column="size_dist_lt_1_41"/>
		<result property="size_dist_lt_2_00" column="size_dist_lt_2_00"/>
		<result property="size_dist_lt_2_80" column="size_dist_lt_2_80"/>
		<result property="size_dist_lt_4_00" column="size_dist_lt_4_00"/>
		<result property="size_dist_lt_5_60" column="size_dist_lt_5_60"/>
		<result property="size_dist_lt_8_00" column="size_dist_lt_8_00"/>
		<result property="size_dist_lt_11_3" column="size_dist_lt_11_3"/>
		<result property="size_dist_lt_16_0" column="size_dist_lt_16_0"/>
		<result property="size_dist_lt_22_6" column="size_dist_lt_22_6"/>
		<result property="size_dist_lt_32_0" column="size_dist_lt_32_0"/>
		<result property="size_dist_lt_45_0" column="size_dist_lt_45_0"/>
		<result property="size_dist_lt_64_0" column="size_dist_lt_64_0"/>
		<result property="size_dist_lt_91_0" column="size_dist_lt_91_0"/>
		<result property="size_dist_lt_128_0" column="size_dist_lt_128_0"/>
	</resultMap>
		
	<sql id="columns">
		station_name,
		station_num,
		to_char (bed_dt, 'YYYY-MM-DD') as bed_dt,
		to_char (bed_tm, 'HH24:MI:SS') as bed_tm,
		time_zone,
		sample_set,
		notes,
		station_location,
		sample_weight,
		sand_d50,
		fines_d50,
		total_d50,
		pct_btwn_063_125,
		size_dist_lt_037,
		size_dist_lt_044,
		size_dist_lt_053,
		size_dist_lt_063,
		size_dist_lt_074,
		size_dist_lt_088,
		size_dist_lt_105,
		size_dist_lt_125,
		size_dist_lt_149,
		size_dist_lt_177,
		size_dist_lt_210,
		size_dist_lt_250,
		size_dist_lt_297,
		size_dist_lt_354,
		size_dist_lt_420,
		size_dist_lt_500,
		size_dist_lt_595,
		size_dist_lt_707,
		size_dist_lt_841,
		size_dist_lt_1_00,
		size_dist_lt_1_41,
		size_dist_lt_2_00,
		size_dist_lt_2_80,
		size_dist_lt_4_00,
		size_dist_lt_5_60,
		size_dist_lt_8_00,
		size_dist_lt_11_3,
		size_dist_lt_16_0,
		size_dist_lt_22_6,
		size_dist_lt_32_0,
		size_dist_lt_45_0,
		size_dist_lt_64_0,
		size_dist_lt_91_0,
		size_dist_lt_128_0
	</sql>
	<select id="getBedSedimentDownloadResult" parameterType="map" resultMap="bedSedimentDownloadResult">
		SELECT
		<include refid="columns"/>
		from (
			select
				s.name station_name,
				case
					when nwis_site_no is null then short_name
					else nwis_site_no
				end as station_num,
				b.bed_meas_dt - concat(n.offset_from_mst / 24, 'hours')::interval as bed_dt,
				b.bed_meas_dt - concat(n.offset_from_mst / 24, 'hours')::interval as bed_tm,
				case
					n.offset_from_mst
					when 0 then 'MST'
					when -1 then 'CST'
				end time_zone,
				b.sample_set,
				b.notes,
				b.station_location,
				b.sample_weight,
				b.sand_d50,
				b.fines_d50,
				b.total_d50,
				b.pct_btwn_063_125,
				b.size_dist_lt_037,
				b.size_dist_lt_044,
				b.size_dist_lt_053,
				b.size_dist_lt_063,
				b.size_dist_lt_074,
				b.size_dist_lt_088,
				b.size_dist_lt_105,
				b.size_dist_lt_125,
				b.size_dist_lt_149,
				b.size_dist_lt_177,
				b.size_dist_lt_210,
				b.size_dist_lt_250,
				b.size_dist_lt_297,
				b.size_dist_lt_354,
				b.size_dist_lt_420,
				b.size_dist_lt_500,
				b.size_dist_lt_595,
				b.size_dist_lt_707,
				b.size_dist_lt_841,
				b.size_dist_lt_1_00,
				b.size_dist_lt_1_41,
				b.size_dist_lt_2_00,
				b.size_dist_lt_2_80,
				b.size_dist_lt_4_00,
				b.size_dist_lt_5_60,
				b.size_dist_lt_8_00,
				b.size_dist_lt_11_3,
				b.size_dist_lt_16_0,
				b.size_dist_lt_22_6,
				b.size_dist_lt_32_0,
				b.size_dist_lt_45_0,
				b.size_dist_lt_64_0,
				b.size_dist_lt_91_0,
				b.size_dist_lt_128_0
			from
				(
					select
						site_id,
						bed_meas_dt,
						sample_set,
						notes,
						station_location,
						source_id,
						MAX(case when group_id = 14 then bed_value else null end) sample_weight,
						MAX(case when group_id = 15 then bed_value else null end) sand_d50,
						MAX(case when group_id = 16 then bed_value else null end) fines_d50,
						MAX(case when group_id = 17 then bed_value else null end) total_d50,
						MAX(case when group_id = 18 then bed_value else null end) pct_btwn_063_125,
						MAX(case when group_id = 19 then bed_value else null end) size_dist_lt_037,
						MAX(case when group_id = 20 then bed_value else null end) size_dist_lt_044,
						MAX(case when group_id = 21 then bed_value else null end) size_dist_lt_053,
						MAX(case when group_id = 22 then bed_value else null end) size_dist_lt_063,
						MAX(case when group_id = 23 then bed_value else null end) size_dist_lt_074,
						MAX(case when group_id = 24 then bed_value else null end) size_dist_lt_088,
						MAX(case when group_id = 25 then bed_value else null end) size_dist_lt_105,
						MAX(case when group_id = 26 then bed_value else null end) size_dist_lt_125,
						MAX(case when group_id = 27 then bed_value else null end) size_dist_lt_149,
						MAX(case when group_id = 28 then bed_value else null end) size_dist_lt_177,
						MAX(case when group_id = 29 then bed_value else null end) size_dist_lt_210,
						MAX(case when group_id = 30 then bed_value else null end) size_dist_lt_250,
						MAX(case when group_id = 31 then bed_value else null end) size_dist_lt_297,
						MAX(case when group_id = 32 then bed_value else null end) size_dist_lt_354,
						MAX(case when group_id = 33 then bed_value else null end) size_dist_lt_420,
						MAX(case when group_id = 34 then bed_value else null end) size_dist_lt_500,
						MAX(case when group_id = 35 then bed_value else null end) size_dist_lt_595,
						MAX(case when group_id = 36 then bed_value else null end) size_dist_lt_707,
						MAX(case when group_id = 37 then bed_value else null end) size_dist_lt_841,
						MAX(case when group_id = 38 then bed_value else null end) size_dist_lt_1_00,
						MAX(case when group_id = 39 then bed_value else null end) size_dist_lt_1_41,
						MAX(case when group_id = 40 then bed_value else null end) size_dist_lt_2_00,
						MAX(case when group_id = 41 then bed_value else null end) size_dist_lt_2_80,
						MAX(case when group_id = 42 then bed_value else null end) size_dist_lt_4_00,
						MAX(case when group_id = 43 then bed_value else null end) size_dist_lt_5_60,
						MAX(case when group_id = 44 then bed_value else null end) size_dist_lt_8_00,
						MAX(case when group_id = 45 then bed_value else null end) size_dist_lt_11_3,
						MAX(case when group_id = 46 then bed_value else null end) size_dist_lt_16_0,
						MAX(case when group_id = 47 then bed_value else null end) size_dist_lt_22_6,
						MAX(case when group_id = 48 then bed_value else null end) size_dist_lt_32_0,
						MAX(case when group_id = 49 then bed_value else null end) size_dist_lt_45_0,
						MAX(case when group_id = 50 then bed_value else null end) size_dist_lt_64_0,
						MAX(case when group_id = 51 then bed_value else null end) size_dist_lt_91_0,
						MAX(case when group_id = 52 then bed_value else null end) size_dist_lt_128_0
					from bed_material
					group by site_id, bed_meas_dt, sample_set, notes, station_location, source_id
				) b,
				site_star s,
				network n
			where
				b.site_id = s.site_id
				and s.network_name = n.network_nm
		) t_a_sediment
		<where>
			<if test="null != site">
				station_num = #{site}
				<if test="null != beginDate and null != endDate">
					and bed_dt &gt;= to_date (#{beginDate}, 'YYYY-MM-DD"T"HH24:MI:SS')
					and bed_dt &lt;= to_date (#{endDate}, 'YYYY-MM-DD"T"HH24:MI:SS')
				</if>
			</if>
		</where>
			order by bed_dt, bed_tm, station_name
	</select>
</mapper>

