<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="gov.usgs.cida.gcmrcservices.mb.mappers.StationMapper">
	
	<resultMap id="siteResult" type="StationSite">
		<result property="siteId" column="site_id"/>
		<result property="siteName" column="site_name"/>
		<result property="displayName" column="display_name"/>
		<result property="lat" column="lat"/>
		<result property="lon" column="lon"/>
		<result property="network" column="network"/>
		<result property="active" column="active"/>
		<result property="displayOrder" column="display_order"/>
	</resultMap>
	
	<resultMap id="siteQWResult" type="StationQW">
		<result property="groupId" column="group_id"/>
		<result property="beginPosition" column="start_dt"/>
		<result property="endPosition" column="end_dt"/>
		<result property="site" column="site_name"/>
		<result property="sampleMethod" column="SAMPLE_METHOD"/>
		<result property="usePumpColoring" column="use_pump_coloring"/>
		<result property="displayName" column="display_name"/>
		<result property="groupName" column="group_name"/>
		<result property="units" column="units"/>
		<result property="unitsShort" column="units_short"/>
		<result property="decimalPlaces" column="decimal_places"/>
		<result property="displayOrder" column="display_order"/>
		<result property="isVisible" column="is_visible"/>
	</resultMap>
	
	<resultMap id="sitePubsResult" type="StationPubs">
		<result property="site" column="site_nm"/>
		<result property="url" column="url"/>
		<result property="displayName" column="display_name"/>
		<result property="displayOrder" column="display_order"/>
	</resultMap>
	
	<resultMap id="siteCreditsResult" type="StationCredits">
		<result property="nwisSite" column="site_no"/>
		<result property="shortName" column="short_nm"/>
		<result property="orgCode" column="org_cd"/>
		<result property="displayOrder" column="display_order"/>
	</resultMap>
	
	<resultMap id="siteParamsResult" type="StationParam">
		<result property="groupId" column="group_id"/>
		<result property="groupName" column="group_name"/>
		<result property="beginPosition" column="start_dt"/>
		<result property="endPosition" column="end_dt"/>
		<result property="site" column="site_name"/>
		<result property="siteDisplayName" column="site_display_name"/>
		<result property="displayOrder" column="display_order"/>
		<result property="displayName" column="display_name"/>
		<result property="isVisible" column="is_visible"/>
		<result property="isDownloadable" column="is_downloadable"/>
		<result property="units" column="units"/>
		<result property="unitsShort" column="units_short"/>
		<result property="decimalPlaces" column="decimal_places"/>
		<result property="ppq" column="description"/>
	</resultMap>
	
	<sql id="site-columns">
		site_id,
		site_name,
		display_name,
		lat,
		lon,
		network,
		active,
		display_order
	</sql>
	
	<select id="getSites" parameterType="map" resultMap="siteResult">
		SELECT
		<include refid="site-columns"/>
		from (select distinct
			<if test="sites == 'site'">
				tsd.site_id,
			</if>
			<if test="sites == 'allsite'">
				site_id,
			</if>
			case
				when nwis_site_no is null then short_name
				else nwis_site_no
			end as site_name,
			name as display_name,
			decimal_latitude lat,
			decimal_longitude lon,
			case
				when network_name = 'GCDAMP' then 'GCDAMP'
				when network_name = 'Dinosaur' then 'DINO'
				when network_name = 'BigBend' then 'BIBE'
				when network_name = 'Canyonlands' then 'CL'
				when network_name = 'RiverDelta' then 'CRD'
				when network_name = 'Chippewa' then 'CHIP'
				when network_name = 'UpperRioGrande' then 'URG'
				else network_name
			end as network,
			active,
			display_order
			from 
			<if test="sites == 'site'">
				(select site_id, display from time_series_display
				union
				select distinct qwp.site_id, 'Y' as display
				from qw_por_star qwp) tsd
				left outer join site_star on tsd.site_id = site_star.site_id
				where display = 'Y'
			</if>
			<if test="sites == 'allsite'">
				site_star
			</if>
			) t_a_main
		<where>
			<if test="null != net">
				network = #{net}
			</if>
		</where>
		ORDER BY DISPLAY_ORDER, SITE_ID
	</select>
	
	<sql id="site-qw-columns">
		group_id,
		start_dt,
		end_dt,
		site_name,
		sample_method,
		use_pump_coloring,
		group_name,
		display_name,
		units,
		units_short,
		decimal_places,
		display_order,
		is_visible
	</sql>
	
	<select id="getSiteQW" parameterType="map" resultMap="siteQWResult">
		SELECT
		<include refid="site-qw-columns"/>
		from (select qwp.group_id,
			to_char (earliest_dt, 'YYYY-MM-DD') start_dt,
			to_char (latest_dt, 'YYYY-MM-DD') end_dt,
			site_name,
			qwp.sample_method sample_method,
			qwp.use_pump_coloring use_pump_coloring,
			qwp.group_name display_name,
			g.name group_name,
			g.units_name units,
			g.units_name_short units_short,
			g.decimal_places,
			g.display_order,
			'Y' is_visible
			from qw_por_star qwp, group_name g
				where qwp.group_id = g.group_id and qwp.group_id in (89, 90, 92))
			t_a_summary
		<where>
			<if test="null != site">
				site_name = #{site}
			</if>
		</where>
		order by display_order, sample_method desc, group_id
	</select>
	
	<sql id="site-pubs-columns">
		site_nm,
		url,
		display_name,
		display_order
	</sql>
	
	<select id="getSitePubs" parameterType="map" resultMap="sitePubsResult">
		SELECT
		<include refid="site-pubs-columns"/>
		from (select case
			when s.nwis_site_no is not null then s.nwis_site_no
			else s.short_name
			end as site_nm,
			p.pub_link url,
			p.pub_nm display_name,
			p.priority_va display_order
			from pub_site p, site_star s
				where p.site_id = s.site_id) t_a_pubs
		<where>
			<if test="null != site">
				site_nm = #{site}
			</if>
		</where>
		order by display_order, site_nm
	</select>
	
	<sql id="site-credits-columns">
		site_no,
		short_nm,
		org_cd,
		display_order
	</sql>
	
	<select id="getSiteCredits" parameterType="map" resultMap="siteCreditsResult">
		SELECT
		<include refid="site-credits-columns"/>
		from (select s.nwis_site_no site_no,
			s.short_name short_nm,
			ccs.proto_org_cd org_cd,
			ccs.priority_va display_order
			from collection_cred_site ccs, site_star s
				where ccs.site_id = s.site_id) t_a_credit
		<where>
			<if test="null != site">
				(site_no = #{site} or short_nm = #{site})
			</if>
			<if test="null != siteUp">
				(site_no = #{siteUp} or short_nm = #{siteUp})
				<if test="null != siteDown">
				or (site_no = #{siteDown} or short_nm = #{siteDown})
				</if>
			</if>
			
		</where>
		order by display_order, site_no
	</select>
	
	<sql id="site-params-columns">
		group_id,
		group_name,
		start_dt,
		end_dt,
		site_name,
		site_display_name,
		display_order,
		display_name,
		is_visible,
		is_downloadable,
		units,
		units_short,
		decimal_places,
		description
	</sql>
	
	<select id="getSiteParams" parameterType="map" resultMap="siteParamsResult">
		SELECT
		<include refid="site-params-columns"/>
		from (select t_por.group_id,
			group_name,
			site_name,
			site_display_name,
			to_char (earliest_dt, 'YYYY-MM-DD"T"HH24:MI:SS') as start_dt,
			to_char (latest_dt, 'YYYY-MM-DD"T"HH24:MI:SS') as end_dt,
			display_order,
			display_name,
			units,
			units_short,
			decimal_places,
			display as is_visible,
			downloadable as is_downloadable,
			time_series_display.description
			from (select site_id,
				group_id,
				earliest_dt,
				latest_dt
				from time_series_por) t_por
			left outer join
				(select site_id,
					case
						when nwis_site_no is null then short_name
						else nwis_site_no
					end as site_name,
					name as site_display_name
				from site_star) site
					on t_por.site_id = site.site_id
			left outer join
				(select group_id,
					name as group_name,
					display_order,
					name_display as display_name,
					units_name as units,
					units_name_short as units_short,
					decimal_places
					from group_name) t_group
				on t_por.group_id = t_group.group_id
			left outer join time_series_display
				on time_series_display.group_id = t_por.group_id
					and time_series_display.site_id = t_por.site_id) t_a_main
		<where>
			<if test="null != site">
				site_name = #{site}
			</if>		
		</where>
		order by display_order, group_id
	</select>
	
</mapper>