<configuration>
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%t] GCMRC-Labs %5p %logger{20} - %m%n</pattern>
		</encoder>
	</appender>
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!--		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>-->
		<file>${catalina.base}/logs/gcmrcLabs.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${catalina.base}/logs/gcmrc/gcmrc-labs.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>7</maxHistory>
			<cleanHistoryOnStart>true</cleanHistoryOnStart>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%t] GCMRC-Labs %5p %logger{20} - %m%n</pattern>
		</encoder>
	</appender>
	<logger name="gov.usgs.webservices.jdbc.spec" level="TRACE"/>
	<logger name="gov.usgs.cida.nude" level="TRACE"/>
	<logger name="org.apache" level="TRACE"/>
	<logger name="gov.usgs.cida.proxy" level="INFO"/>
	<root level="DEBUG">
		<appender-ref ref="stdout" />
		<appender-ref ref="FILE" />
	</root>
</configuration>