table {
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
width:100%;
border-collapse:collapse;
}

td, th {
font-size:1em;
border:1px solid #5ba4e3;
padding:3px 7px 2px 7px;
}

th {
font-size:1.1em;
text-align:left;
padding-top:5px;
padding-bottom:4px;
background-color:#5ba4e3;
color:#ffffff;
}

tr.alt td {
color:#000000;
background-color:#c1d4e4;
}

