/gcmrc-ui/target/
/gcmrc-ui/src/main/webapp/META-INF/
/gcmrc-labs/${war.dir}/META-INF/
/gcmrc-services/src/main/webapp/META-INF/
/gcmrc-services/nb-configuration.xml
/gcmrc-services/target/
/SOS-Endpoint/src/main/webapp/META-INF/
/SOS-Endpoint/target/
/gcmrc-sos-endpoint/target/
/target/
/gcmrc-db-access/target/
/gcmrc-photos/src/main/webapp/META-INF/
/gcmrc-photos/target/
/gcmrc-ui/nb-configuration.xml
.settings/
.project
.classpath
**/.settings 
**/.project
**/.classpath
/bin/
.vscode/