<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>gcmrc-labs</display-name>

	<servlet>
		<servlet-name>TimeExchanger</servlet-name>
		<jsp-file>/timeexchanger.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>TimeExchanger</servlet-name>
		<url-pattern>/time</url-pattern>
		<url-pattern>/time/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>OpendapTimeExchanger</servlet-name>
		<jsp-file>/opendaptime.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>OpendapTimeExchanger</servlet-name>
		<url-pattern>/odt</url-pattern>
		<url-pattern>/odt/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GCMRCUIServlet</servlet-name>
		<servlet-class>gov.usgs.cida.proxy.AlternateProxyServlet</servlet-class>
		<init-param>
			<param-name>forward-url-param</param-name>
			<param-value>gcmrc.ui-url</param-value>
		</init-param>
		<init-param>
			<param-name>forward-url</param-name>
			<param-value>http://localhost:8080/gcmrc-ui/</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>GCMRCUIServlet</servlet-name>
		<url-pattern>/ui/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GCMRCServicesServlet</servlet-name>
		<servlet-class>gov.usgs.cida.proxy.AlternateProxyServlet</servlet-class>
		<init-param>
			<param-name>forward-url-param</param-name>
			<param-value>gcmrc.services-url</param-value>
		</init-param>
		<init-param>
			<param-name>forward-url</param-name>
			<param-value>http://localhost:8080/gcmrc-services/</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>GCMRCServicesServlet</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GoToOpenIdServlet</servlet-name>
		<servlet-class>gov.usgs.cida.proxy.AlternateProxyServlet</servlet-class>
		<init-param>
			<param-name>forward-url</param-name>
			<param-value>https://www.google.com/accounts/o8/</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>GoToOpenIdServlet</servlet-name>
		<url-pattern>/openid/*</url-pattern>
	</servlet-mapping>
	
	
	<session-config>
		<session-timeout>
			30
		</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
