<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE configuration
  PUBLIC '-//mybatis.org//DTD Config 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-config.dtd'>
<configuration>
	<settings>
		<setting name="logImpl" value="SLF4J"/>
	</settings>
    <typeAliases>
        <typeAlias type='gov.usgs.cida.gcmrcservices.mb.model.Reach' alias='Reach'></typeAlias>
        <typeAlias type='gov.usgs.cida.gcmrcservices.mb.model.ReachDetail' alias='ReachDetail'></typeAlias>
        <typeAlias type='gov.usgs.cida.gcmrcservices.mb.model.DurationCurvePoint' alias='DurationCurvePoint'></typeAlias>
        <typeAlias type='gov.usgs.cida.gcmrcservices.mb.model.DurationCurveGapMinutesPercent' alias='DurationCurveGapMinutesPercent'></typeAlias>
        <typeAlias type='gov.usgs.cida.gcmrcservices.mb.model.DurationCurveConsecutiveGap' alias='DurationCurveConsecutiveGap'></typeAlias>
    </typeAliases>
    <environments default='container'>
        <environment id='container'>
            <transactionManager type="JDBC"/>
            <dataSource type="JNDI">
                <property name="data_source" value="java:comp/env/jdbc/gcmrcDS"/>
            </dataSource>
        </environment>
<!--        <environment id='development'>
            <transactionManager type="JDBC"/>
            <dataSource type='POOLED'>    
                <property name='driver' value='oracle.jdbc.OracleDriver'/>
                <property name='url' value='${db.wdnrbiology.development.url}'/>
                <property name='username' value='${db.wdnrbiology.development.username}'/>
                <property name='password' value='${db.wdnrbiology.development.password}'/>
            </dataSource>
        </environment>
        <environment id='integration-test'>
            <transactionManager type="JDBC"/>
            <dataSource type='POOLED'>    
                <property name='driver' value='org.h2.Driver'/>
                <property name='url' value='jdbc:h2:tcp//127.0.0.1:${db.wdnrbiology.integration-test.port}/wdnrbiology'/>
                <property name='username' value='test'/>
                <property name='password' value='test'/>
            </dataSource>
        </environment>-->
    </environments>
    <mappers>
        <mapper resource='gov/usgs/cida/gcmrcservices/mb/mappers/ReachMapper.xml' />
        <mapper resource='gov/usgs/cida/gcmrcservices/mb/mappers/ReachDetailMapper.xml' />
        <mapper resource='gov/usgs/cida/gcmrcservices/mb/mappers/DurationCurveMapper.xml' />
    </mappers>
</configuration>