<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE configuration
  PUBLIC '-//mybatis.org//DTD Config 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-config.dtd'>
<configuration>
	<settings>
		<setting name="logImpl" value="SLF4J"/>
	</settings>
    <typeAliases>
        <typeAlias type='gov.usgs.cida.gcmrcservices.mb.model.ReachTrib' alias='ReachTrib'></typeAlias>
        <typeAlias type='gov.usgs.cida.gcmrcservices.mb.model.DurationCurvePoint' alias='DurationCurvePoint'></typeAlias>
        <typeAlias type='gov.usgs.cida.gcmrcservices.mb.model.BedSedimentDownload' alias='BedSedimentDownload'></typeAlias>
        <typeAlias type='gov.usgs.cida.gcmrcservices.mb.model.QWDownload' alias='QWDownload'></typeAlias>
        <typeAlias type='gov.usgs.cida.gcmrcservices.mb.model.DurationCurveConsecutiveGap' alias='DurationCurveConsecutiveGap'></typeAlias>
	<typeAlias type='gov.usgs.cida.gcmrcservices.mb.model.DurationCurveCumulativeGap' alias='DurationCurveCumulativeGap'></typeAlias>
    </typeAliases>
    <environments default='container'>
        <environment id='container'>
            <transactionManager type="JDBC"/>
            <dataSource type="JNDI">
                <property name="data_source" value="java:comp/env/jdbc/gcmrcDS"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
    	<mapper resource='gov/usgs/cida/gcmrcservices/mb/mappers/LookupMapper.xml' />
    	<mapper resource='gov/usgs/cida/gcmrcservices/mb/mappers/StationMapper.xml' />
        <mapper resource='gov/usgs/cida/gcmrcservices/mb/mappers/ReachMapper.xml' />
        <mapper resource='gov/usgs/cida/gcmrcservices/mb/mappers/DurationCurveMapper.xml' />
        <mapper resource='gov/usgs/cida/gcmrcservices/mb/mappers/BedSedimentDownloadMapper.xml' />
        <mapper resource='gov/usgs/cida/gcmrcservices/mb/mappers/QWDownloadMapper.xml' />
    </mappers>
</configuration>