.application-body {
	min-height: 640px;
	min-width: 1280px;
}
#viz {
	margin-top : 15px;
}
#legend-dygraph {
	position: fixed;
	right: 5px;
	bottom: 5px;
}
.ajaxLoading {
	padding-top : 5px;
	text-align: center;
}
#rightSpread {
	padding-left : 13px;
	width: 640px;
}
#leftSidebar {
    margin-top: 15px;
    width: 300px;
}

#station-photo {
	text-align: center;
	padding-top: 3px;
	padding-bottom: 5px;
}
#locationArea {
	margin: 5px;
	/*min-height: 448px;*/
}
#openlayers-map {
	height: 227px;
}

#options-dygraph {
}

#downloadColumnOrdering { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	width: 100%; 
	min-height: 15em;
}

#downloadColumnOrdering li {
	margin: 0 3px 3px 3px;
	padding: 0.4em;
	padding-left: 1.5em;
	cursor: pointer;
}

#downloadColumnOrdering li span {
	position: relative;
	display: inline-block;
	margin-left: -1.3em;
}

#downloadColumnOrdering .selected {
	background: #DDDDDD url(../../js/slider/css/overcast/images/ui-bg_glass_35_dddddd_1x400.png) 50% 50% repeat-x;
}

a.date {
	color : #1c94c4;
}

.olLayerGoogleCopyright, .olLayerGooglePoweredBy, .gmnoprint {
	display : none
}

/* Because of a conflict between twitter bootstrap and openlayers */
img { max-width: none; }

.layersDiv label {
	display : inline;
}

.addColumn, .addColumn:hover {
	color : #00CC00;
}

.removeColumn, .removeColumn:hover {
	color : #CC0000;
}

.curveSelectButton {
	display:none;
	cursor: pointer;
	margin: 2px;
	border: 3px solid #c9c9c9;
	border-radius: 6px;
	background-color: #c9c9c9;
}

.curveSelectButton input[type=radio] {
	display:none;
}

.curveSelectButton input[type=radio] + label {
	display:inline-block;
	padding: 4px 12px;
	margin-bottom: 0;
	font-size: 10px;
	font-weight: 600;
	line-height: 16px;
	color: #333333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255,255,255,0.75);
	vertical-align: top;
	background-color: #c9c9c9;
	cursor: pointer;
}

.curveSelectButton input[type=radio]:checked + label {
	background-image: none;
	outline: 0;
	background-color: #f8f8f8;
	cursor: pointer;
	color: #0000FF;
}

.chart-view-label {
	border-radius: 6px 0px 0px 6px;
	margin-right: -2px;
}

.curve-view-label {
	border-radius: 0px 6px 6px 0px;
	margin-left: -2px;
}

.scaleSelectButton {
	display:none;
	float: right;
	cursor: pointer;
	margin: 10px 2px 2px 2px;
	line-height: 10px;
	border: 3px solid #c9c9c9;
	border-radius: 6px;
	background-color: #c9c9c9;
}

.scaleSelectButton input[type=radio] {
	display:none;
}

.scaleSelectButton input[type=radio] + label {
	display:inline-block;
	padding: 2px 6px;
	margin-bottom: 0;
	font-size: 9px;
	font-weight: 600;
	line-height: 10px;
	color: #333333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255,255,255,0.75);
	vertical-align: top;
	background-color: #c9c9c9;
	cursor: pointer;
}

.scaleSelectButton input[type=radio]:checked + label {
	background-image: none;
	outline: 0;
	background-color: #f8f8f8;
	cursor: pointer;
	color: #0000FF;
}

.log-scale-label {
	border-radius: 6px 0px 0px 6px;
	margin-right: -2px;
}

.lin-scale-label {
	border-radius: 0px 6px 6px 0px;
	margin-left: -2px;
}

.one-scale-only-label {
	border-radius: 6px 6px 6px 6px;
}

div[class^="plot-container-"] {
	width: 100%;
}

.dygraph-label.dygraph-xlabel {
	margin-left: 91px;
}

.dygraph-label.dygraph-ylabel {
	margin-left: 90px;
	font-size: 14px;
}

div[class^="timeseries-plot-"], div[class^="duration-plot-"] {
	width: 100%;
}

#downloadPopup {
	width: inherit;
}

.datatype-select {
	margin-bottom: 15px;
}

.datatype-select label {
	margin-left: 8px;
	font-size: 120%;
	font-weight: bold;
}
.datatype-select input {
	margin-left: 8px !important;
}

.dataChartView {
	padding-left: 5px;
	margin-right: 5px;
	overflow: hidden;
}
