<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>gcmrc-services</display-name>

	<!--We don't need this because we're not deployed on CIDA's stuff-->
	<!--<filter>
        <filter-name>TomcatFilter</filter-name>
        <filter-class>gov.usgs.cida.tomcatfilters.RequestFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>TomcatFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>-->
	
    <servlet>
        <servlet-name>StationService</servlet-name>
        <servlet-class>gov.usgs.cida.gcmrcservices.jsl.station.StationService</servlet-class>
        <init-param>
            <param-name>jndi_name</param-name>
            <param-value>java:comp/env/jdbc/gcmrcDS</param-value>
        </init-param>
        <init-param>
            <param-name>delimited_value_file_name</param-name>
            <param-value>gcmrc</param-value>
        </init-param>
        <init-param>
            <param-name>enable_caching</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>cache_keep_alive_in_minutes</param-name>
            <param-value>30</param-value>
        </init-param>
        <init-param>
            <param-name>max_cache_count</param-name>
            <param-value>100</param-value>
        </init-param>
        <init-param>
            <param-name>max_cache_resp_size_in_chars</param-name>
            <param-value>20000</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>StationService</servlet-name>
        <url-pattern>/service/station/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ReachService</servlet-name>
        <servlet-class>gov.usgs.cida.gcmrcservices.jsl.reach.ReachService</servlet-class>
        <init-param>
            <param-name>jndi_name</param-name>
            <param-value>java:comp/env/jdbc/gcmrcDS</param-value>
        </init-param>
        <init-param>
            <param-name>delimited_value_file_name</param-name>
            <param-value>gcmrc</param-value>
        </init-param>
        <init-param>
            <param-name>enable_caching</param-name>
            <param-value>false</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReachService</servlet-name>
        <url-pattern>/service/reach/*</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>ParamService</servlet-name>
        <servlet-class>gov.usgs.cida.gcmrcservices.jsl.param.ParamService</servlet-class>
        <init-param>
            <param-name>jndi_name</param-name>
            <param-value>java:comp/env/jdbc/gcmrcDS</param-value>
        </init-param>
        <init-param>
            <param-name>delimited_value_file_name</param-name>
            <param-value>gcmrc</param-value>
        </init-param>
        <init-param>
            <param-name>enable_caching</param-name>
            <param-value>false</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>ParamService</servlet-name>
        <url-pattern>/service/param/*</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>LookupService</servlet-name>
        <servlet-class>gov.usgs.cida.gcmrcservices.jsl.lookup.LookupService</servlet-class>
        <init-param>
            <param-name>jndi_name</param-name>
            <param-value>java:comp/env/jdbc/gcmrcDS</param-value>
        </init-param>
        <init-param>
            <param-name>delimited_value_file_name</param-name>
            <param-value>gcmrc</param-value>
        </init-param>
        <init-param>
            <param-name>enable_caching</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>cache_keep_alive_in_minutes</param-name>
            <param-value>30</param-value>
        </init-param>
        <init-param>
            <param-name>max_cache_count</param-name>
            <param-value>100</param-value>
        </init-param>
        <init-param>
            <param-name>max_cache_resp_size_in_chars</param-name>
            <param-value>20000</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>LookupService</servlet-name>
        <url-pattern>/service/lookup/*</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>DownloadService</servlet-name>
        <servlet-class>gov.usgs.cida.gcmrcservices.jsl.data.DownloadService</servlet-class>
        <init-param>
            <param-name>jndi_name</param-name>
            <param-value>java:comp/env/jdbc/gcmrcDS</param-value>
        </init-param>
        <init-param>
            <param-name>delimited_value_file_name</param-name>
            <param-value>gcmrc</param-value>
        </init-param>
        <init-param>
            <param-name>enable_caching</param-name>
            <param-value>false</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>DownloadService</servlet-name>
        <url-pattern>/service/download/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AggregatingEndpoint</servlet-name>
        <servlet-class>gov.usgs.cida.gcmrcservices.nude.AggregatingEndpoint</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AggregatingEndpoint</servlet-name>
        <url-pattern>/agg/*</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>Jersey Web Application</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>gov.usgs.cida.gcmrcservices.mb.endpoint.WebAppBase</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Jersey Web Application</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
	
    <session-config>
        <session-timeout>
			30
		</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
